:root {
    --size-base: 1.25rem;
    --title-size: 2rem;
    --category-padding: 1.5rem;
}

@media (max-width: 1200px) {
    :root {
        --size-base: 1.2rem;
        --title-size: 1.9rem;
        --category-padding: 1.4rem;
    }

    .container {
        margin-top: 80px;
    }
}

@media (max-width: 992px) {
    :root {
        --size-base: 1.1rem;
        --title-size: 1.8rem;
        --category-padding: 1.3rem;
    }

    .container {
        margin-top: 80px;
    }
}

@media (max-width: 768px) {
    :root {
        --size-base: 1rem;
        --title-size: 1.6rem;
        --category-padding: 1rem;
    }

    .container {
        margin-top: 0px;
    }
}

@media (max-width: 480px) {
    :root {
        --size-base: 0.90rem;
        --title-size: 1.4rem;
        --category-padding: 0.9rem;
    }

    .container {
        margin-top: 0px;
    }
}

/* Styles start here */

body {
    font-family: Arial, sans-serif;
    background: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 2.5rem; 
    display: flex;
    justify-content: center;
    font-size: var(--size-base) 
}

.container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3.75rem;
}

section {
    background: white;
    padding: 2.5rem;
    border-radius: 12px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
}

.profile-section {
    text-align: center;
}

.profile-pic {
    width: 190px;
    height: 190px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1.25rem;
}

.contacts {
    display: flex;
    justify-content: center;
    gap: 1.25rem; 
    margin-top: 1.25rem;
    flex-wrap: wrap;
}

.contacts a {
    text-decoration: none;
    color: #00b894;
    font-weight: bold;
    font-size: 1.25rem;
}

.contacts a:hover {
    text-decoration: none;
    color: #006c57;
    font-weight: bold;
    font-size: 1.25rem; 
}

