:root {
    --size-base: 1.25rem;
    --title-size: 2rem;
    --category-padding: 1.5rem;
}

@media (max-width: 1200px) {
    :root {
        --size-base: 1.15rem;
        --title-size: 1.9rem;
        --category-padding: 1.4rem;
    }
}

@media (max-width: 992px) {
    :root {
        --size-base: 1.05rem;
        --title-size: 1.8rem;
        --category-padding: 1.3rem;
    }
}

@media (max-width: 768px) {
    :root {
        --size-base: 0.90rem;
        --title-size: 1.6rem;
        --category-padding: 1rem;
    }
}

@media (max-width: 480px) {
    :root {
        --size-base: 0.80rem;
        --title-size: 1.4rem;
        --category-padding: 0.9rem;
    }
}

.category {
    margin-bottom: var(--category-padding)
}

.category-toggle {
    width: 100%;
    padding: 1rem;
    background: #86b2d3;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: var(--size-base);
    cursor: pointer;
    text-align: left;
    transition: background 0.3s;
    
}

.category-toggle:hover {
    background: #4d86b7;
}

.category-content {
    max-height: 0;
    overflow: hidden;
    margin-top: 1rem;
    transition: max-height 0.4s ease, padding 0.4s ease;
    padding: 0 1rem; /* arranca sin padding */
}

.category-content.open {
    max-height: 1000px; /* un número grande para cubrir el contenido */
    padding: 1rem;
}

.projects-section h2, .about-section h2, .cv-section h2 {
    margin-bottom: var(--size-base);
    font-size: var(--title-size);
}

.project-button {
    display: block;
    max-width: 95%;
    padding: 1rem;
    margin: 0 10px 10px 20px;
    border: none;
    background: #15b2b0;
    color: white;
    font-size: var(--size-base);
    border-radius: 10px;
    cursor: pointer;
    text-align: left;
    text-decoration: none; /* para sacar el subrayado del enlace */
    transition: background 0.3s;
}

.project-button:hover {
    background: #118989;
}

.project-title {
    font-weight: bold;
    font-size: var(--size-base);
}

.project-description {
    margin-top: 0.5rem;
    font-size: 1.05rem;
    color: #e0e0e0; /* un gris clarito para diferenciar del título */
}